body {
  font-family: roboto, sans-serif;
font-style: normal;
font-weight: 200;
}

h1 {
  font-size: 4em ;
  font-family: itc-avant-garde-gothic-pro, sans-serif;
font-style: normal;
font-weight: 300;
margin-top: 0;
font-size: 1.8em;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:400|Poppins:400');

html {font-size: 100%;} /*16px*/

body {
  background-color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.65;
  color: #ffffff;
}

p {margin-bottom: 1.15rem;}

p {
  font-size: 1em;
  line-height: 1.4em;
}

h1, h2, h3, h4, h5 {
  margin: 2.75rem 0 1.05rem;
  font-family: 'itc-avant-garde-gothic-pro', sans-serif;
  font-weight: 400;
  line-height: 1.15;
  color: #E6007E;
  -webkit-text-stroke-width: 0.8px;
  -webkit-text-stroke-color: white;
}

#pauteurc{
  color: #59C0ED;
  }

  #pauteur {
    background-color: #59C0ED;
  }

#pbiblic{
  color: #E6007E;
}





h2 {font-size: 2.441em;}

h3 {font-size: 1.953em;}

h4 {font-size: 1.563em;}

h5 {font-size: 1.25em;}

small, .text_small {font-size: 0.8em;}
